* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    transition: transform 0.25s ease, background-color 0.2s ease;
}

:root{
  --bg-color: #d9d9d9;
  --bg-color2: #ffffff;
  --bg-color3: #ffffff;
  --bg-card: #fafcff;
  --text-color: #3D3935;
  --text-color2: #5c6b45;
  --border-color: rgba(0,0,0,0.1);
}

html[data-theme="dark"]{
  --bg-color: #3D3935;
  --bg-color2: #3D3935;
  --bg-color3: #201f1e;
  --bg-card: #141414;
  --text-color: #d9d9d9;
  --text-color2: #aabf86;
  --border-color: rgba(255,255,255,0.1);
}

@font-face {
    font-family: "Georgia";
    src: url("./assets/fonts/Georgia Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Indivisible";
    src: url("./assets/fonts/Indivisible-Light.ttf") format("truetype");
}
